[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
#log-error      = /var/log/mysql/error.log
# By default we only accept connections from localhost
#bind-address   = 127.0.0.1
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Slow query settings:
general_log_file=/var/log/mysql/mysql.log
general_log=1
slow_query_log=1
slow_query_log_file=/var/log/mysql/mysql-slow.log
log-queries-not-using-indexes=1
#long_query_time=0.1
# It's recommended to set up long_query_time=0 in order to log all queries, because the first step is to analyze all the queries to find out the most commonly used and the slowest ones. 
#Be very careful while setting up long_query_time=0 because this setting will increase the I/O workload on your system (due to the writing operations) and your disk space can be filled up. 
#One strategy is to turn this setting on for a period of time and then revert it back to log only the slow queries.
# https://blog.toadworld.com/2017/08/09/logging-and-analyzing-slow-queries-in-mysql
long_query_time=0